body {
    background-color: #F5EBEB !important; /* Tono grisáceo */
    margin: 0 !important;
    padding: 0;
    font-family: 'Roboto Mono' !important ;

}

.container-lol {
    display: grid;
    margin-top: 5%; /* Centro el contenedor horizontalmente */
    
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 200px 500px;
    row-gap: 60px;
    
    column-gap: 40px; /* Reduzco el espacio entre columnas */
    padding: 20px;
    /* Ajusta el ancho del contenedor */
}
.logo {
    height:30%;
    width: 30%;
}
.logo img {
    position: relative;
    height: 100px;
    width: 200px;
    object-fit: cover;
}


.elemento {
    text-align: center;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s; /* Agrega una transición al borde y sombra */
    display: flex;
    align-items: center;
   
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    border: 2px solid transparent; /* Asegura que haya un borde inicial transparente */
    
}

.elemento:hover {
    background-color: #3498db;
   
    border: 2px solid white; /* Cambia el color del borde al hacer hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Añade una sombra al hacer hover */
    cursor: pointer;
}

.elemento:first-child {
    background-color: #DEBACE; /* Cambia el color de fondo */
    margin: 0;
    
}
.elemento:nth-child(2){
    background-color: #e6c2fd;
}
.elemento:nth-child(3){
    background-color:#D0A2F7;
}

.elemento-info {
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    background-color: #ffe7fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: large; /* Modificado a "large" para un tamaño de fuente más adecuado */
    
}
.elemento-info.reportes div p:first-child {
    font-size: 200px;
}
.elemento-info.reportes p:nth-child(2) {
    font-size: 30px;
}
.elemento-info.post .canvas-container {
    width: 400px; /* Reduce el tamaño del contenedor en un 10% */
    height: 400px; /* Reduce el tamaño del contenedor en un 10% */
    margin: auto; /* Centra el contenedor horizontalmente */
    overflow: hidden; /* Asegura que el canvas no sobresalga del contenedor */
}

.elemento-info.post canvas {
    width: 100%; /* Ajusta el tamaño del canvas al 100% del contenedor */
    height: 100%; /* Ajusta el tamaño del canvas al 100% del contenedor */
}

.elemento-info:hover {
    background-color:rgb( 200, 180, 220); /* Cambiado el color de fondo al hacer hover */
    cursor: pointer;
}




