.dialogCrearPubli{
    width: 80%;
    border: none;
    height: 75%;
    border-radius: 25px;
}

.cerrarDialog{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    display: flex;
}

.h1crearPuDiv{
    width: 95%;
    height: auto;
}

.h1crearPuDiv h1{
    padding-top: 2%;
    font-size: 25px;
    text-align: center;
}

.cerrarDialog button{
    outline: none;
    background-color: rgb(222, 214, 214);
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 20px;
}

.datosUserPublicacion{
    width: 90%;
    height: 70px;
    margin-left: 5%;
    display: flex;
    margin-bottom: 3%;
    flex-direction: column;
}

.imagenUserPubliNueva{
    margin-top: 3%;
    width: 12%;
    height: auto;
    margin-right: 5%;
}

.imagenUserPubliNueva img{
    width: 100%;
    height: 65px;
    border-radius: 50%;
}

.usernameName{
    width: 83%;
}

.usernameName h3{
    padding-top: 3%;
    font-size: 20px;
}

.textPublicacion{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

.textPublicacion textarea{
    font-size: 20PX;
    padding-top: 3%;
    outline: none;
    width: 100%;
    resize: none;
    border: none;
}

.textPublicacion textarea::placeholder{
    font-size: 20px;
}

.imagesPubli{
    width: 90%;
    margin-left: 5%;
    display: flex;
    height: 80px;
}

.addFotoPublicacion{
    font-weight: 100;
    cursor: pointer;
    background-color: rgb(28, 28, 121);
    width: 13%;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 46px;
    color: white;
    border-radius: 25px;
}

.addFotoPublicacion:hover{
    transition: 550ms;
    background-color: transparent;
    color: rgb(28, 28, 121);
    border: 1px solid rgb(28, 28, 121);
}

.imagesPubliCargadas{
    width: 83%;
    margin-left: 5%;
}

.imagesPubliCargadas img{
    width: 25%;
    height: 80px;
}

.btn_publicar{
    width: 90%;
    margin-left: 5%;
    height: 70px;
    margin-top: 5%;
}

.btn_publicar button{
    border: none;
    background-color: transparent;
    background-color: rgb(211, 206, 206);
    width: 100%;
    border-radius: 25px;
    color: rgb(85, 80, 80);
    height: 50px;
    font-size: 20px;
}

.btn_publicar button:hover{
    background-color: rgb(43, 43, 121);
    color: white;
    transition: 250ms;
    transform: scaleX(105%);
}

.bloquear-scroll {
    overflow: hidden;
}

.nav-link:hover{
    transform: scale(105%);
}