
::-webkit-scrollbar {
    display: none;
}
.section_publis{
    margin-top: 100px;
    width: 100%;
    min-height: 685px;
    display: flex;
}

.divCardCrearPubli{
    margin-top: 5%;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    background-color: #F9F9F9; 
    box-shadow: -8px 6px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    display: flex;
}

.divCardCrearPubli:hover{
    cursor: pointer;
    transform: scale(103%);
    transition: 550ms;
}

.imgDivCrearPubli{
    width: 20%;
}

.ipDivCrearPubli{
    width: 80%;
}

.divLeftSidePresentation{
    margin-top: 7%;
    width: 100%;
    height: 70px;
    display: flex;
}

.divLeftSidePresentation:hover{
    background-color: rgb(221, 219, 219);
    transition: 550ms;
    cursor: pointer;
}

.imgPresntacionLeft{
    width: 20%;
    height: 90px;
}

.imgPresntacionLeft img{
    margin-top: 5px;
    margin-left: 15%;
    width: 77%;
    border-radius: 50%;
    height: 60px;
}

.usernamePresentacionLeft{
    width: 80%;
    height: 90px;
}

.usernamePresentacionLeft h1{

    font-size: 20px;
    padding-top: 23px;
    padding-left: 5%;
    font-weight: 100;

}

.centralSide{
    margin-left: 25%; /* Ancho de leftSide y rightSide */
    margin-right: 25%;
    width: 50%;
    min-height: 685px;
    height: auto;
}

.centralSideImageImage{
    margin-top: 15px;
    margin-left: 22%;
    width: 56%;
    height: 70px;
    border-radius: 50%; 
} 

.ipDivCrearPubli input{
    border-radius: 20px;
    padding-left: 5%;
    margin-top: 30px;
    width: 90%;
    margin-left: 2.5%;
    height: 40px;
    border: none;
    background-color: rgb(195, 191, 191);
    
}

.leftSide::-webkit-scrollbar {
    display: none;
}

.leftSide,
.rightSide {
  width: 25%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.leftSide {
    margin-top: 100px;
  left: 0;
  overflow-y: auto;
  /* Personalizar la apariencia del scroll */
 /* Color del scroll */
}

.leftSide::-webkit-scrollbar-track {
  background: #f5f5f5; /* Color del track */
}

.leftSide::-webkit-scrollbar-thumb {
  background-color: #999; /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados del thumb */
}

.rightSide {
    width: 30%;
    height: 500px;
    background-color: red;
  margin-top: 100px;
  right: 0;
}

.publisSection{
    margin-top: 8%;
    width: 80%;
    margin-left: 10%;
    height: 500px;
}

.publiCard{
    margin-bottom: 24%;
    width: 100%;
    height: auto;
    box-shadow: -20px 40px 40px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.datosPubli{
    width: 100%;
    height: 130px;
    display: flex;
}

.fotoDatosPubli{
    width: 11%;
    height: 100px;

}

.fotoDatosPubli img{
    border-radius: 50%;
    margin-left: 20%;
    width: 100%;
    padding: 0;
    margin-top: 30%;
    height: 70px;
}


.datosDatosPubli{
    width: 84%;
    height: 100px;
    margin-left: 5%;
}

.datosDatosPubli h1{
    padding-top: 5%;
    font-size:25px;
}

.datosDatosPubli p{
    font-weight: 100;
}

.fotoPubliPrincipal{
    width: 90%;
    margin-left: 5%;
    height: 500px;

}

.imagenPublicacionPrincipal {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: none;
}


.reaccionesPubliBar{
    margin-top: 5%;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    display: flex;
}

.reaccionesPubliBar li{
    list-style: none;
    margin-right: 5%;
}

.reaccionesPubliBar li:hover{
    transform: scale(108%);
    cursor: pointer;
    transition: 250ms;
}

.descriptionPublicacion{
    width: 90%;
    margin-left: 5%;
}

.commentsDiv{
    background-color: #F9F9F9;
    width: 100%;
    height: auto;
}

.comment{
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
}

.fotoComment{
    margin-top: 5%;
    width: 13%;
    height: 70px;
    margin-left: 2%;
    margin-right: 3%;
}

.fotoComment img{
    width: 100%;
    border-radius: 50%;
}

.textComent{
    width: 80%;
    margin-right: 2%;
}

.textComent h2{
    font-size: 15px;
    padding-top: 5%;
}

.comentarDiv{
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    height: 63px;
}


.comentarInputDiv{
    width: 100%;
    height: 50px;
}


.comentarInputDiv input{
    width: 87%;
    height: 40px;
    background-color: rgb(201, 197, 197);
    border-radius: 20px;
    padding-left: 3%;
    border: none;
    color: rgb(255, 252, 252);
}

.comentarInputDiv input::placeholder{
    color: rgb(255, 252, 252);
}

.comentarInputDiv button{
    width: 8%;
    height: 45px;
    margin-left: 2%;
    background-color: transparent;
    border-radius: 50%;
}

.comentarInputDiv button:hover{
    transform: scale(105%);
    transition: 200ms;
    background-color: rgb(104, 104, 224);
}

.mostrarMasComentarios{
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
}

.mostrarMasComentarios h3{
    color: rgb(54, 54, 154);
    cursor: pointer;
    font-size: 12px;
    padding-left: 2%;
    text-decoration: underline;
}

.filtrosPublis{
    background-color: rgb(232, 226, 226);
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    height: auto;
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.filtrosNameH1 h1{

    font-size: 28px;
    padding-left: 7%;
    padding-top: 5%;
}
.underlineH1 {
    width: 30%;
    height: 2px;
    margin-left: 7%;
    padding-top: 1px;
    background-color: rgb(52, 52, 164);
    margin-bottom: 3%;
}

.odsLogo{
    width: 80%;
    margin-left: 10%;
    height: 250px;
}

.odsLogo:hover{
    cursor: pointer;
    transform: scale(105%);
    transition: 200ms;
}

.odsLogo img{
    width: 100%;
    height: 250px;
}

.rigthSide{
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    margin-top: 100px;
}

.statsProfile{
    background-color: #F9F9F9;
    box-shadow: -8px 6px 20px 5px rgba(0, 0,0,0.2);
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    height: auto;
    padding-bottom: 5%;
}

.statsProfile h3{
    padding-top: 5%;
    padding-left: 4%;
}

.linePerfilProfile{
    margin-left: 4%;
    width: 30%;
    height: 2px;
    background-color: rgb(32, 32, 151);
}

.infoPerfilCard{
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    display: flex;
}

.imgInfoCardProfile{
    margin-top: 5%;
    width: 20%;
    height: 70px;
    margin-right: 4%;
}

.textInfoCardProfile{
    width: 72%;
    margin-right: 4%;
}

.textInfoCardProfile h2{
    font-size: 20px;
    padding-left: 3%;
    padding-top: 5%;
}

.textInfoCardProfile li{
    list-style: none;
}

.imgInfoCardProfile img{
    width: 100%;
    border-radius: 50%;
}

.btnsCardInfoPerfil{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.btnsCardInfoPerfil button{
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
}

.btnsCardInfoPerfil button:nth-child(1){
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(208, 50, 79);
    border: none;
}

.btnsCardInfoPerfil button:nth-child(2){
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: rgb(47, 19, 103);
}

.btnsCardInfoPerfil button:hover{
    transform: scaleX(103%);
    transition: 200ms;
}

.ipStatsProfile{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}

.ipStatsProfile h2{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.ipStatsProfile p{
    font-weight: 600;
    color: rgb(192, 41, 41);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 28px;
}

.ipStatsProfile h3{
    text-align: center;
    font-size: 15px;
    color: rgb(40, 133, 40);
}

.iconCorazon{
    padding-right: 3%;
}

.custom-file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
  }

  .plus-sign {
    font-weight: 800;
    width: 70px;
    height: 80px;
    padding-top: 20%;
    border-radius: 20px;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
    color: rgb(27, 27, 154);
    border: 2px solid rgb(27, 27, 154);
  }

  .plus-sign:hover{
    background-color: rgb(27, 27, 154);
    color: white;
    border: none;
    transition: 200ms;
  }

  .imagesPubliCargadas img {
    max-width: 100%;
    height: auto;
  }