.section_publis{
    margin-top: 100px;
    width: 100%;
    min-height: 685px;
    display: flex;
}

.divCardCrearPubli{
    margin-top: 5%;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    background-color: #F9F9F9; 
    box-shadow: -8px 6px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    display: flex;
}

.divCardCrearPubli:hover{
    cursor: pointer;
    transform: scale(103%);
    transition: 550ms;
}

.imgDivCrearPubli{
    width: 20%;
}

.ipDivCrearPubli{
    width: 80%;
}

.divLeftSidePresentation{
    margin-top: 7%;
    width: 100%;
    height: 70px;
    display: flex;
}

.divLeftSidePresentation:hover{
    background-color: rgb(221, 219, 219);
    transition: 550ms;
    cursor: pointer;
}

.imgPresntacionLeft{
    width: 20%;
    height: 90px;
}

.imgPresntacionLeft img{
    margin-top: 5px;
    margin-left: 15%;
    width: 77%;
    border-radius: 50%;
    height: 60px;
}

.usernamePresentacionLeft{
    width: 80%;
    height: 90px;
}

.usernamePresentacionLeft h1{

    font-size: 20px;
    padding-top: 23px;
    padding-left: 5%;
    font-weight: 100;

}

.centralSide{
    margin-left: 25%; /* Ancho de leftSide y rightSide */
    margin-right: 25%;
    width: 50%;
    min-height: 685px;
    height: auto;
}

.centralSideImageImage{
    margin-top: 15px;
    margin-left: 22%;
    width: 56%;
    height: 70px;
    border-radius: 50%; 
} 

.ipDivCrearPubli input{
    border-radius: 20px;
    padding-left: 5%;
    margin-top: 30px;
    width: 90%;
    margin-left: 2.5%;
    height: 40px;
    border: none;
    background-color: rgb(195, 191, 191);
    
}

.leftSide,
.rightSide {
  width: 25%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.leftSide {
    margin-top: 100px;
  left: 0;
}

.rightSide {
    margin-top: 100px;
  right: 0;
}

.publisSection{
    margin-top: 8%;
    width: 80%;
    margin-left: 10%;
    height: 500px;
}

.publiCard{
    width: 100%;
    height: auto;
    box-shadow: -20px 40px 40px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.datosPubli{
    width: 100%;
    height: 130px;
    display: flex;
}

.fotoDatosPubli{
    width: 11%;
    height: 100px;

}

.fotoDatosPubli img{
    border-radius: 50%;
    margin-left: 20%;
    width: 100%;
    padding: 0;
    margin-top: 30%;
    height: 70px;
}


.datosDatosPubli{
    width: 84%;
    height: 100px;
    margin-left: 5%;
}

.datosDatosPubli h1{
    padding-top: 5%;
    font-size:25px;
}

.datosDatosPubli p{
    font-weight: 100;
}

.fotoPubliPrincipal{
    width: 90%;
    margin-left: 5%;
    height: 300px;

}

.imagenPublicacionPrincipal {
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: none;
}

.imagenPublicacionPrincipal:hover{
    cursor: pointer;
    transform: scaleX(111%);
    transition: 550ms;
}

.reaccionesPubliBar{
    margin-top: 5%;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    display: flex;
}

.reaccionesPubliBar li{
    list-style: none;
    margin-right: 5%;
}

.reaccionesPubliBar li:hover{
    transform: scale(108%);
    cursor: pointer;
    transition: 250ms;
}

.descriptionPublicacion{
    width: 90%;
    margin-left: 5%;
}