body {
    background-color: #F5EBEB !important; /* Tono grisáceo */
    margin: 0 !important;
    padding: 0;
    font-family: 'Roboto Mono' !important ;

}
.logo {
    height:30%;
    width: 30%;
}
.logo img {
    position: relative;
    height: 100px;
    width: 200px;
    object-fit: cover;
}

.contenedor {
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
}

.grid-tarjeta {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Aquí se establece que habrá 5 columnas con el mismo tamaño */
    gap: 20px; /* Puedes ajustar el espacio entre las columnas según tus preferencias */
}

.tarjeta {
    /* Agrega cualquier estilo adicional que desees para los elementos dentro de la cuadrícula */
    height: 300px; /* Ajusta la altura según tus necesidades */
    /* Otros estilos... */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.tarjeta figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.tarjeta figure {
    height: 150px;
    width: 150px;
    
    margin: 10px;
}

.fotoinfo {
    display: flex;
    flex-direction: row;
}
.info {
    margin-top: 12px;
    font-size: 25px;
}

.actions {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.actions button {
    margin: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(179, 130, 244);
    padding: 0;
    height: 100px;
    width: 150px;
    color: inherit;
    font: inherit;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Agrega una transición al color de fondo */
}

.actions button:hover {
    background-color: rgb(149, 100, 224); /* Cambia el color al pasar el cursor */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.actions button i {
    font-size: 40px;
}