/* Añade estos estilos al final de tu archivo ../styles/adminReports.css */

body {
    background-color: #F5EBEB !important;
    margin: 0 !important;
    padding: 0;
    font-family: 'Roboto Mono' !important ;
}
.logo {
    height:30%;
    width: 30%;
}
.logo img {
    position: relative;
    height: 100px;
    width: 200px;
    object-fit: cover;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 100px;
    border-radius: 15px;
    
}

thead {
    background-color: #343a40; /* Cambia el color de fondo del encabezado */
    color: white; /* Cambia el color del texto en el encabezado */
    text-align: center;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd; /* Añade un borde a las celdas */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cambia el color de fondo de las filas pares */
}

tbody tr:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el cursor sobre las filas */
}
