.imagen-ampliada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo gris transparente */
    z-index: 9999; /* Asegura que la imagen esté sobre todo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-ampliada img {
    max-width: 90%;
    max-height: 90%;
}

.cerrar-imagen {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}